.mypy_cache
.pytest_cache
.ruff_cache
.vercel
__pycache__/

venv/

src/history/database.db
src/history/coursereg_history/data/cleaned/
src/history/coursereg_history/data/raw
src/history/vacancy_history/data/cleaned
src/history/vacancy_history/data/raw
src/web/static/pages
