body {
    display: flex;
    justify-content: center;
    height: 100vh;
    font-size: 24px;
    background-color: #F0F0F0;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    overflow: scroll;
}

.my-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    max-width: 1200px;
    margin: auto;
    height: 80%;
    align-items: flex-start;
}

.form-container,
.table-container {
    padding: 0px;
}

.form-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    position: sticky;
    top: 10%;
}

.table-container {
    flex: 3;
    height: 75vh;
    overflow-y: auto;
    overflow-x: hidden;
    width: max-content;
}

form {
    margin-bottom: 20px;
    width: 100%;
}

table {
    width: 100%;
    table-layout: fixed;
}

th, td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    word-wrap: break-word;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100px;
}

.table-code {
    width: 85px;
}

.table-class {
    width: 45px;
}

.table-round {
    width: 65px;
}

input[type=text], select {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.btn-secondary.active {
  background-color: #007bff !important;
  color: #ffffff !important;
  border-color: #007bff !important;
}

.less-demand {
    background-color: lightgreen;
}

.more-demand {
    background-color: lightcoral;
}

.equal-demand {
    background-color: white;
}

.no-data {
    background-color: lightgrey;
}

.hidden {
  display: none;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #333;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spinner-rotation 0.8s infinite linear;
  margin: 10px auto;
}

@keyframes spinner-rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.form-url-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    position: sticky;
    top: 10%;
}

.url-container {
  background-color: #4CAF50;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px; /* Adds rounded corners */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers content vertically */
  align-items: center; /* Centers content horizontally */
}

.url-link {
  color: #fff; /* Makes the URL text white */
  text-decoration: none; /* Removes the underline */
  font-size: 1.2em; /* Increases font size */
  word-break: break-all; /* Prevents long URLs from overflowing */
}
