<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="form-container">
        <form id="course-form" method="POST">
          <label for="year"><b>Academic Year:</b></label><br>
          <select id="year" name="year">
            <option value="21/22" {% if request.form.year == "21/22" %}selected{% endif %}>21/22</option>
            <option value="22/23" {% if request.form.year == "22/23" %}selected{% endif %}>22/23</option>
            <option value="23/24" {% if request.form.year == "23/24" or not request.form.year %}selected{% endif %}>23/24</option>
            <!-- Add more years as needed -->
          </select>
          <br>
          <label><b>Semester:</b></label><br>
          <div class="radiobutton">
            <label for="semester1">
              <input type="radio" id="semester1" name="semester" value="1" 
              {% if request.form.semester == "1" or not request.form.semester %}checked{% endif %}>
              Semester 1
            </label>
          </div>
          <div class="radiobutton">
            <label for="semester2">
              <input type="radio" id="semester2" name="semester" value="2" 
              {% if request.form.semester == "2" %}checked{% endif %}>
              Semester 2
            </label>
          </div>
          <label><b>Type:</b></label><br>
          <div class="radiobutton">
            <label for="ug">
              <input type="radio" id="ug" name="type" value="ug" 
              {% if request.form.type == "ug" or not request.form.type %}checked{% endif %}>
              Undergraduate
            </label>
          </div>
          <div class="radiobutton">
            <label for="gd">
              <input type="radio" id="gd" name="type" value="gd" 
              {% if request.form.type == "gd" %}checked{% endif %}>
              Graduate
            </label>
          </div>
          <label for="course_codes"><b>Course Codes:</b></label><br>
          <input type="text" id="search-input" name="search-input" oninput="filterCourses()" placeholder="Search by Course Code" value="{{ request.form.get('search-input', '') }}">
          <input type="submit" value="Search!">
        </form> 
        {% if errors %}
        <div style="color: #f44336; font-size: 0.8em;">
          <strong>Error:</strong>
          <ul>
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>

      <div class="table-container">
        <table>
          <thead>
            <tr>
              <th>Course Code</th>
              <th>Class</th>
              <th>Round 0</th>
              <th>Round 1</th>
              <th>Round 2</th>
              <th>Round 3</th>
            </tr>
          </thead>
          <tbody>
            {% for course in output %}
            {% for class_name, class_data in course.classes.items() %}
            <tr>
              <td>{{ course.code }}</td>
              <td>{{ class_name }}</td>
              {% for data in class_data %}
              <td class="{% if data.demand == -1 and data.vacancy == -1 %}no-data{% elif data.demand < data.vacancy %}less-demand{% elif data.demand > data.vacancy %}more-demand{% else %}equal-demand{% endif %}">
                {% if data.demand == -1 and data.vacancy == -1 %}
                N/A
                {% else %}
                {{ data.demand }} / {% if data.vacancy == 2147483647 %}∞{% else %}{{ data.vacancy }}{% endif %}
                {% endif %}
              </td>
              {% endfor %}
            </tr>
            {% endfor %}
            {% endfor %}
          </tbody>
        </table>
      </div>
  </body>
</html>
