<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CourseRekt</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?v=4">
    <script src="{{ url_for('static', filename='script.js') }}?v=4" defer></script>
    <!-- Roboto Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <!-- Custom icons such as the ? marker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="my-container">
      <!-- Sidebar -->
      <div class="form-container">
        <h1 style="font-size: 26px; font-weight: bold; font-family: 'Roboto', sans-serif; margin: 0 auto; margin-bottom: 1rem;">🚀 CourseRekt 😵</h1>
        <p style="font-size: 1rem;">View current and past data for the registration of NUS courses easily!</p>
        <!-- Form -->
        <form id="course-form" method="POST">
          <!-- Add academic years here -->
          <div class="form-group">
            <b>Academic Year:</b><br>
            <div class="btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-secondary {% if request.form.year == "2122" %}active{% endif %}">
                <input type="radio" id="year1" name="year" value="2122" autocomplete="off" {% if request.form.year == "2122" %}checked{% endif %}> 21/22
              </label>
              <label class="btn btn-secondary {% if request.form.year == "2223" %}active{% endif %}">
                <input type="radio" id="year2" name="year" value="2223" autocomplete="off" {% if request.form.year == "2223" %}checked{% endif %}> 22/23
              </label>
              <label class="btn btn-secondary {% if request.form.year == "2324" %}active{% endif %}">
                <input type="radio" id="year3" name="year" value="2324" autocomplete="off" {% if request.form.year == "2324" %}checked{% endif %}> 23/24
              </label>
              <label class="btn btn-secondary {% if request.form.year == "2425" or not request.form.year %}active{% endif %}">
                <input type="radio" id="year4" name="year" value="2425" autocomplete="off" {% if request.form.year == "2425" or not request.form.year %}checked{% endif %}> 24/25
              </label>
            </div>
          </div>
          <!-- Semesters -->
          <div class="form-group">
            <b>Semester:</b><br>
            <div class="btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-secondary {% if request.form.semester == "1" or not request.form.semester %}active{% endif %}">
                <input type="radio" id="semester1" name="semester" value="1" autocomplete="off" {% if request.form.semester == "1" or not request.form.semester %}checked{% endif %}> Semester 1
              </label>
              <label class="btn btn-secondary {% if request.form.semester == "2" %}active{% endif %}">
                <input type="radio" id="semester2" name="semester" value="2" autocomplete="off" {% if request.form.semester == "2" %}checked{% endif %}> Semester 2
              </label>
            </div>
          </div>
          <!-- Undergraduate or Graduate Selection -->
          <div class="form-group">
            <b>Type:</b><br>
            <div class="btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-secondary {% if request.form.type == "ug" or not request.form.type %}active{% endif %}">
                <input type="radio" id="ug" name="type" value="ug" autocomplete="off" {% if request.form.type == "ug" or not request.form.type %}checked{% endif %}> Undergraduate
              </label>
              <label class="btn btn-secondary {% if request.form.type == "gd" %}active{% endif %}">
                <input type="radio" id="gd" name="type" value="gd" autocomplete="off" {% if request.form.type == "gd" %}checked{% endif %}> Graduate
              </label>
            </div>
          </div>
        </form>
        <!-- Search Bar -->
        <b>Course Codes:</b><br>
        <div class="search-bar-container">
          <input type="text" id="search-input" name="search-input" oninput="filterCourses()" placeholder="Search course codes..." autocomplete="off" autofocus>
          <span class="help-icon" data-toggle="tooltip" data-placement="top" title="Add spaces for additional matches (e.g. 'CS2 EL GESS')"><i class="fa fa-question-circle"></i></span>
        </div>
        <!-- Toggle Course Name Visibility -->
        <label for="toggle-course-names-checkbox" class="btn btn-secondary">
          <input type="checkbox" id="toggle-course-names-checkbox" style="transform: scale(1.2);" autocomplete="off" checked>
          &nbsp;Show Course Names
        </label>
        <!-- Toggle Forecast Visibility -->
        <div>
          <label for="toggle-forecast-checkbox" class="btn btn-secondary">
            <input type="checkbox" id="toggle-forecast-checkbox" style="transform: scale(1.2);" autocomplete="off" checked>
            &nbsp;Show Original Vacancies
          </label>
          <span class="help-icon" data-toggle="tooltip" data-placement="top" title="Original number of slots at the start of the round"><i class="fa fa-question-circle"></i></span>
        </div>
        {% if error %}
        <div class="alert alert-danger">
          <strong>Error:</strong> {{ error }}
        </div>
        {% endif %}
        <div id="loading-spinner" class="hidden">
          <div class="spinner"></div>
        </div>
      </div>

      {% set year = request.form.get('year', '2425') %}
      {% set semester = request.form.get('semester', '1') %}
      {% set type = request.form.get('type', 'ug') %}
      <div class="table-container">
        <table id="table-data">
          <!-- Table Headers -->
          <thead>
            <tr>
              <th class="table-code">Code</th>
              <th class="table-name">Name</th>
              <th class="table-class">Class</th>
              {% for round_num in range(4) %}
              <th class='table-round'>
                {% if pdf_exists(year, semester, type, round_num) %}
                {% set url = url_for('serve_pdf', year=year, semester=semester, student_type=type, round_num=round_num) %}
                <a href="{{ url }}" target="_blank">Round {{ round_num }}</a>
                {% else %}
                Round {{ round_num }}
                {% endif %}
              </th>
              {% endfor %}
            </tr>
          </thead>
          <!-- Table Data -->
          <tbody>
            {% for course in output %}
            {% for class_name, class_data in course.classes.items() %}
            <tr>
              <td>{{ course.code }}</td>
              <td>
                {% if loop.first %}
                  <a href="{{ nusmods_link_of_code(course.code) }}">{{ course.title }}</a>
                {% endif %}
              </td>
              <td>{{ class_name }}</td>
              {% for data in class_data %}
              <td class="{% if data.demand == -1 and data.vacancy == -1 %}no-data{% elif data.demand < data.vacancy %}less-demand{% elif data.demand > data.vacancy %}more-demand{% else %}equal-demand{% endif %}">
                {% if data.demand == -1 and data.vacancy == -1 %}
                N/A
                {% else %}
                {{ data.demand }} / {% if data.vacancy == INF %}∞{% else %}{{ data.vacancy }}{% endif %}
                <span class='vacancy-data'>
                  {% set forecast = data.ug if type == "ug" else data.gd %}
                  {% if forecast == -1 %}
                  (N/A)
                  {% else %}
                  ({% if forecast == INF %}∞{% else %}{{ forecast }}{% endif %})
                  {% endif %}
                </span>
                {% endif %}
              </td>
              {% endfor %}
            </tr>
            {% endfor %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <footer>
      ❤️
      •
      <a class="github-link" href="https://github.com/lunaflight/courserekt" target="_blank">GitHub</a>
    </footer>
  </body>
</html>
