<!DOCTYPE html>
<html>
<head>
    <title>Course Scheduler and History</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container text-center" style="margin-top: 200px;">
  <h1>Welcome to our silly project!</h1>

    <div class="row" style="margin-top: 50px">
        <div class="col">
            <a href="/history" class="btn btn-primary btn-lg">History</a>
        </div>
        <div class="col">
            <a href="/scheduler" class="btn btn-primary btn-lg">Scheduler</a>
        </div>
    </div>
</div>
</body>
</html>
